<head>
    <title>404 not found</title>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=yes'>
    <meta name='theme-color' content='#7289DA'>
    <meta content='{{ URL }}/static/images/404.png' property='og:image'>
    <meta name='twitter:card' content="summary_large_image">
    <link type='application/json+oembed' href='{{ URL }}/static/images/404.json'>
    <link rel='stylesheet' href="{{ URL }}/static/css/style.css">
</head>
<body class="body">
    <center>
        <div class="center-vert">
            <a class="user-credit" href="{{ URL }}">This is just so sad.. sadly there is nothing here for you to see ;c</a>
            <img class='img' src='{{ URL }}/static/images/404.png'>
        </div>
    </center>
</body>