<head>
    <title>bad key</title>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=yes'>
    <link rel='stylesheet' href="{{ URL }}/static/css/style.css">
</head>
<body class="body">
    <center>
        <div class="center-vert">
            <a class="user-credit" href="{{ URL }}">Not even your image loser</a>
            <img class='img' src='{{ URL }}/static/images/bad_key.png'> <!-- Change www.example.com to your url-->
        </div>
    </center>
</body>