<!-- You can change the image in the middle by changing lines 8, 15-->

<head>
    <title>Very cool image host</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="theme-color" content="#7289DA">
    <meta content='https://konk.fun/logo.png' property='og:image'>
    <link type="application/json+oembed" href="https://konk.fun/oembed.json" />
    <link rel='stylesheet' href="{{ URL }}/static/css/style.css">
</head>
<body class="body">
    <center>
        <div class="center-vert">
             <img src="https://konk.fun/logo.png" alt="" width=300px height=300px>
        </div>
    </center>
</body>
